<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 9</b></center> 
<center><b><h3>Roll No : 465</b></center> 
<center><b><h3>Name : Sorathiya Nabhag S.</b></center> 
<pre>

### 01) Write a function to calculate BMI given mass and height. (BMI = mass/h**2)

In [7]:
def calculateBmi(mass, height):
    return (mass / height ** 2)

mass = float(input("Enter mass :"))
height = float(input("Enter height :"))

BMI = calculateBmi(mass, height)
print(BMI)

Enter mass :65
Enter height :6
1.8055555555555556

### 02) Write a function that add first n numbers.

In [10]:
def addN(n):
    ans = 0
    for i in range(1,n+1):
        ans+=i
    return ans

n = int(input("Enter any number :"))
addN(n)

Enter any number :10

55

### 03) Write a function that returns 1 if the given number is Prime or 0 otherwise.

In [19]:
def primeDetection(n) -> bool:
    for i in range(int(n/2),1,-1):
        if n % i == 0:
            return 0
    return 1

n = int(input("Enter any number :"))
primeDetection(n)

Enter any number :5

1

### 04) Write a function that returns the list of Prime numbers between given two numbers.

In [18]:
def primeBetweenRange(num1, num2):
    a = min(num1, num2)
    b = max(num1, num2)
    li = []
    for i in range(a, b+1):
        for j in range(int(i/2),1,-1):
            if i % j == 0:
                break
        else:
            li.append(i)
    return li

n1 = int(input("Enter first number :"))
n2 = int(input("Enter second number :"))

primeBetweenRange(n1, n2)

Enter first number :10
Enter second number :50

[11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### 05) Write a function that returns True if the given string is Palindrome or False otherwise.

In [21]:
def palindrome(s):
    return s == s[::-1]

s = input("Enter any string :")
palindrome(s)

Enter any string :asdf

False

### 06) Write a function that returns the sum of all the elements of the list.

In [22]:
def sumOfListElements(li):
    return sum(li)

li = list(map(int, input("Enter list elements :").split()))
sumOfListElements(li)

Enter list elements :1 2 3 4 5

15

### 07) Write a function to calculate the sum of the first element of each tuples inside the list.

In [27]:
size = int(input("Enter size of list :"))
li = []

for i in range(size):
    t = tuple(map(int, input("Enter tupple elements :").split()))
    li.append(t)

def sumOfFirstElements(li):
    ans = 0
    for i in li:
        ans += i[0]
    return ans

sumOfFirstElements(li)

Enter size of list :3
Enter tupple elements :1 2
Enter tupple elements : 4 5
Enter tupple elements : 7 89

12

### 08) Write a recursive function to find nth term of Fibonacci Series.

In [38]:
def nthTermFibonacci(n):
    if n <= 3:
        return 1
    return nthTermFibonacci(n-1) + nthTermFibonacci(n-2)

nthTermFibonacci(5)

3

### 09) Write a function to get the name of the student based on the given rollno.
#### Example: Given dict1 = {101:'Ajay', 102:'Rahul', 103:'Jay', 104:'Pooja'} find name of student whose rollno = 103

In [31]:
def nameUsingRollNo(d, rollNo):
    return d[rollNo]

d = {101:'Ajay', 102:'Rahul', 103:'Jay', 104:'Pooja'}

nameUsingRollNo(d, 103)

'Jay'

### 10) Write a function to get the sum of the scores ending with zero.
#### Example : scores = [200, 456, 300, 100, 234, 678] 
#### Ans = 200 + 300 + 100 = 600

In [33]:
def addition(li):
    ans = 0
    for i in li:
        if i % 10 == 0:
            ans += i
    return ans

li = list(map(int, input("Enter list elements :").split()))
addition(li)

Enter list elements :200 300 100 234

600

### 11) Write a function to invert a given Dictionary.
#### hint: keys to values & values to keys
#### Before : {'a': 10, 'b':20, 'c':30, 'd':40}
#### After : {10:'a', 20:'b', 30:'c', 40:'d'}

In [41]:
def reverseDictionary(d):
    return {value: key for key, value in d.items()}

reverseDictionary(d)

{'Ajay': 101, 'Rahul': 102, 'Jay': 103, 'Pooja': 104}

### 12) Write a function that returns the number of uppercase and lowercase letters in the given string. 
#### example : Input : s1 = AbcDEfgh ,Ouptput : no_upper = 3, no_lower = 5

In [46]:
def upperLower(s):
    ucounter = lcounter = 0
    for i in s:
        if str.isupper(i): ucounter+=1
        else : lcounter+=1
    return ucounter, lcounter

s = input("Enter any string :")
upperLower(s)

Enter any string :asdFD

(2, 3)

### 13) Write a lambda function to get smallest number from the given two numbers.

In [1]:
n1 = int(input("Enter first numbers :"))
n2 = int(input("Enter second numbers :"))

(lambda a, b: min(a, b))(n1, n2)

Enter first numbers :10
Enter second numbers :20

10

### 14) For the given list of names of students, extract the names having more that 7 characters. Use filter().

In [3]:
def studentNames(s):
    if len(s) >= 7:
        return True
    return False

li = list(map(str, input("Enter student names :").split()))
list(filter(studentNames, li))

Enter student names :nabhag vishal kuldeep aniruddha

['kuldeep', 'aniruddha']

### 15) For the given list of names of students, convert the first letter of all the names into uppercase. use map().

In [5]:
li = ['nabhag', 'vishal', 'kuldeep', 'aniruddha']

list(map(lambda n : n.capitalize(), li))

['Nabhag', 'Vishal', 'Kuldeep', 'Aniruddha']

### 16) Write udfs to call the functions with following types of arguments:
1. Positional Arguments
2. Keyword Arguments
3. Default Arguments
4. Variable Legngth Positional(*args) & variable length Keyword Arguments (**kwargs)
5. Keyword-Only & Positional Only Arguments

In [ ]:
def position(a, b):
    return a + b

def default(a = 2, b = 5):
    return a + b

def keyword(a, b):
    return a + b
keyword(a = 5, 6)

def variable(*a):
    print(a)
    return sum(a)

def keyvar(**a):
    print(a)
    return sum(a)